video-embed-container iframe {
    pointer-events: none;
  }
  
  .video-embed-container iframe::-webkit-media-controls {
    display: none !important;
  }
  
  .video-embed-container iframe::-webkit-media-controls-panel {
    display: none !important;
  }
  
  .video-embed-container iframe::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  .video-embed-container iframe::-webkit-media-controls-overlay-play-button {
    display: none !important;
  }